---
import AppLayout from "@layouts/AppLayout.astro";
import { Image } from "astro:assets";
import authorImage from "../assets/me.png";
import technologies from "@data/technologies.json";
import Skill from "@components/Skill.astro";
import { author } from "@data/socials";
---

<AppLayout title="Isaac Hayes - Senior Developer & IoT Product Designer">
  <header class="sm:flex sm:items-center sm:justify-between">
    <div class="rounded aspect-square w-40 overflow-hidden inline-flex drop-shadow-none lg:drop-shadow-[0px_0px_35px_rgba(83,70,250,0.90)]">
      <Image
          src={authorImage}
          alt="Image of the author"
          loading="eager"
          width={320}
          height={320}
      />
    </div>
    <div class="mt-8 max-w-lg 2xl:max-w-xl sm:my-0 sm:order-first">
      <h1
          class="mb-2 text-3xl font-bold tracking-tight dark:text-white text-zinc-900 sm:text-4xl"
      >
        Isaac Hayes
      </h1>
      <p class="mb-4 dark:text-zinc-300 text-zinc-700 flex items-center">
        Senior Developer & IoT Product Designer from Australia 🇦🇺
      </p>
      <p
          class="max-w-prose font-normal text-sm md:text-lg dark:text-zinc-400 text-zinc-600 sm:max-w-sm md:max-w-xl leading-relaxed"
      >
        I specialize in software development for IoT, cloud infrastructure, and hardware design & development.
        My passion lies in Programming Language design and Compiler/Interpreter development. I am constantly exploring
        new technologies and innovations to push the boundaries of IoT solutions.
      </p>
    </div>
  </header>
</AppLayout>
