---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<footer>
  <Wrapper variant="standard" class="py-8">
    <div class="relative before:absolute after:absolute before:bg-black after:bg-base-200 dark:before:bg-neutral-50 dark:after:bg-neutral-50/10 before:top-0 before:left-0 before:h-px before:w-18 after:top-0 after:right-0 after:left-20 after:h-px">
      <div
        class="mt-12 grid grid-cols-1 lg:grid-cols-2 gap-4 pb-12 pt-2 relative before:absolute after:absolute before:bg-black after:bg-base-200 dark:before:bg-neutral-50 dark:after:bg-neutral-50/10 before:top-0 before:left-0 before:h-px before:w-18 after:top-0 after:right-0 after:left-20 after:h-px"
      >
      <div class="flex flex-col gap-1">
          <Text
            tag="h3"
            variant="textSM"
            class="font-medium uppercase text-base-900 dark:text-white"
          >
            Let's chat
          </Text>
          <a
            href="#_"
            class="hover:translate-x-1.5 text-sm text-base-500 hover:text-accent-500 dark:hover:text-accent-300 dark:text-base-50 duration-500"
          >
            me(at)isaahayes.au
          </a>
          <a
            href="#_"
            class="hover:translate-x-1.5 text-sm text-base-500 hover:text-accent-500 dark:hover:text-accent-300 dark:text-base-50 duration-500"
          >
            +61 491 965 483
          </a>
        </div>
        <div class="text-right ">
          <Text
            tag="p"
            variant="display3XL"
            class="text-base-500 dark:textbase-400 lg:ml-auto"
          >
            <span id="clock"> </span>
            
          </Text>
          <Text tag="span" variant="textSM" class="text-base-500  dark:textbase-400 mt-1">
            Mornington Peninsula, Australia
          </Text>
        </div>
      </div>
      <div class="relative before:absolute after:absolute before:bg-black after:bg-base-200 dark:before:bg-neutral-50 dark:after:bg-neutral-50/10 before:top-0 before:left-0 before:h-px before:w-18 after:top-0 after:right-0 after:left-20 after:h-px">
      </div>
    </div>
  </Wrapper>
</footer>
<script type="module">
  function updateClock() {
    // Create a new Date object based on Mornington's timezone
    const now = new Date().toLocaleString("en-US", { timeZone: "Australia/Melbourne" });

    // Convert the time string to a Date object
    const dateObj = new Date(now);

    let hours = dateObj.getHours(); // 0-23
    const minutes = dateObj.getMinutes(); // 0-59
    // Show seconds if you want to remove the comment from here
    // const seconds = dateObj.getSeconds(); // 0-59
    const period = hours >= 12 ? "PM" : "AM"; // Determine if it's AM or PM

    // Convert hours to 12-hour format
    hours = hours % 12;
    hours = hours ? hours : 12; // Handle the case for 12 AM and 12 PM

    // Format time as HH:MM:SS AM/PM
    const timeString =
      [
        hours.toString().padStart(2, "0"),
        minutes.toString().padStart(2, "0"),
        // Show seconds if you want to remove the comment from here
        // seconds.toString().padStart(filtering, "0"),
      ].join(":") +
      " " +
      period;

    // Update the clock element with the time
    document.getElementById("clock").textContent = timeString;
  }

  // Update the year every second
  function updateYear() {
    const currentYear = new Date().getFullYear(); // Get the current year
    document.getElementById("year").textContent = currentYear; // Update the year in the span
  }

  // Update the clock every second
  setInterval(updateClock, 1000);

  // Initialize the clock and year
  updateClock();
  updateYear();
</script>
